{%extends 'index.html'%}
{%block body%}
{% if cart%}
<div class="cart-cart">
    <div class="cart-headers-container">
        <ul class="cart-headers">
            <li class="cart-header">Наименование</li>
            <li class="cart-header">Сейчас в корзине</li>
            <li class="cart-header">Всего в наличии</li>
            <li class="cart-header">Новое количество</li>
            <li></li>
        </ul>
    </div> 
    <div class="cart-items-container">
        {%for item in cart.items()%}
        {% set product_obj=item[1]["product"] %}
        {% set qty = item[1]["qty"] %}
        {% set product = product_obj.id %}
        <ul class="cart-items" product="{{product}}">
            <li class="cart-product-name" product="{{product}}">{{product_obj.name}}</li>
            <li class="cart-current-qty" product="{{product}}">{{form.current_qty(value=qty,disabled=True)}}</li>
            <li class="cart-stock-qty" product="{{product}}">{{form.stock_qty(disabled=True,value=product_obj.in_stock_qty)}}</li>
            <li>
                <form method="POST">
                    {{form.quantity(product=product)}}
                    {{form.product_id(value=product,hidden=True)}}{{form.edit_quantity(product=product)}}
                    {{form.delete_item(product=product)}}
               </form>
            </li>
        </ul>    
               
            {%for error in form.quantity.errors%}
            {{error}}
            {%endfor%}
        
        {%endfor%} 
    </div>
</div>   
{%else%}
    <h3>Корзина пуста</h3>
{%endif%}
{%endblock%}
{%block scripts%}
    <script src="{{url_for('static',filename='./js/cart_delete.js')}}"></script>
{%endblock%}