{%extends 'index.html'%}
{%block body%}
{%include 'products/product_search.html'%}
<table class="products-list">
    <tr>
        <th>Название</th>
        <th>Производитель</th>
        <th>Категория</th>
        <th>Страна производства</th>
        <th>Количество, Добавить в корзину</th>
    </tr>
    {%for product in products_list%}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.manufacturer.name}}</td>
            <td>{{product.category.name}}</td>
            <td>{{product.country.name}}</td>
            <td>
            <form class="some" action='javascript:void(0);'>
                <input type="text" name="quantity" id="add-quantity" product_id="{{product.id}}">
                <button class="add-to-cart" product_id="{{product.id}}">Add to cart</button>
            </form>
            </td>
        </tr>
    {%endfor%}
</table>

{%endblock%}