<form method="POST" novalidate>
    {{ form_search.hidden_tag() }}
    <br><span class="username">{{ form_search.manuf_name_search.label }}</span>
    <br>{{ form_search.manuf_name_search }}
    {%for error in form_search.manuf_name_search.errors%}
        <span class="val_errors">{{error}}</span>
    {%endfor%}
    {{ form_search.find() }}
</form>

<form method="POST" novalidate>
    {{ form_add.hidden_tag() }}
    <br><span class="username">{{ form_add.manuf_name_add.label }}</span>
    <br>{{ form_add.manuf_name_add }}
    {%for error in form_add.manuf_name_add.errors%}
        <span class="val_errors">{{error}}</span>
    {%endfor%}
    {{ form_add.add() }}
    <ul class="flashes">
        {%for message in get_flashed_messages()%}
            <li>{{message}}</li>
        {%endfor%}
    </ul>
</form>