<form method="POST" novalidate>
    {{ form_search.hidden_tag() }}
    <br><span class="username">{{ form_search.manuf_name_search.label }}</span>
    
    <br>{{form_search.search_filter}}{{ form_search.manuf_name_search }}

    {%for error in form_search.manuf_name_search.errors%}
        <span class="val_errors">{{error}}</span>
    {%endfor%}
    {{ form_search.find() }}
    
</form>

<form class="add-manuf-form" method="POST" novalidate>
    {{ form_add.hidden_tag() }}
    <div class='add-fields'>
        <div class="manuf-name">
            <span class="username">{{ form_add.manuf_name_add.label }}</span>
            {{ form_add.manuf_name_add }}
        </div>
        <div class="manuf-legal-form">
            <span class="username">{{ form_add.manuf_legal_form.label }}</span>
            <b>{{ form_add.manuf_legal_form }}</b>
        </div>
        <span class="add-button">{{ form_add.add() }}</span>
    </div>
    
    {%for error in form_add.manuf_name_add.errors%}
        <span class="val_errors">{{error}}</span>
    {%endfor%}  
    <ul class="flashes">
        {%for message in get_flashed_messages()%}
            <li>{{message}}</li>
        {%endfor%}
    </ul>
</form>