
    <form id="search-manuf" method="POST" novalidate>
        {{ form_search.hidden_tag() }}
        <br><span class="username">{{ form_search.manuf_name_search.label }}</span>
        
        <br>{{form_search.search_filter}}{{ form_search.manuf_name_search }}

        {%for error in form_search.manuf_name_search.errors%}
            <br><span class="val_errors">{{error}}</span>
        {%endfor%}
        <br>{{ form_search.find() }}        
    </form>
    
    <form class="add-manuf-form" method="POST" novalidate>
        <h4>Добавление производителя</h4>
        {{ form_add.hidden_tag() }}
        <div class='add-fields'>
            
            <div class="manuf-name">
                {{ form_add.manuf_name_add.label }}
                {{ form_add.manuf_name_add }}
            </div>
            <div class="manuf-legal-form">
                {{ form_add.manuf_legal_form.label }}
                <b>{{ form_add.manuf_legal_form }}</b>
            </div>
            {{ form_add.add() }}
        </div>
        
        {%for error in form_add.manuf_name_add.errors%}
            <span class="val_errors">{{error}}</span>
        {%endfor%}  
        <ul class="flashes">
            {%for message in get_flashed_messages()%}
                <li>{{message}}</li>
            {%endfor%}
        </ul>
    </form>