/*
 =================Общие стили=========== 
 */
*{
  margin:0;
  padding:0;
}

html {
  font-size: 62.5%;
  color:black;
  background-color: whitesmoke;
  font-family: "Courier New";
}
body{
  font-size: 1.6rem;
}
header{
  background-color: rgb(8, 6, 39);
  height: 10%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
div.home_logout{
  display: flex;
  justify-content: flex-end;
}

a{
  font-size: 1.6rem;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

li{
list-style: none;
}

.flashes li{
  color: rgb(119, 137, 219);
  font-weight: bold;
}

.val_errors{
  color:rgb(233, 96, 46);
  font-size: 1.4rem;
  font-weight: bold;
}

/*
==========Админская панель на главной=========== 
 */
 div.admin_panel{
  width: 15rem;
  font-weight: 800;
  position: absolute;
  right: 5%;
}
ul.nav-links li a{
  font-size: 1.6rem;
  color:rgb(113, 159, 197);
  text-decoration: none;
}

ul.nav-links li a:hover{
  text-decoration: underline;
  color: darkslateblue;
}
/*
===========Страница авторизации================== 
 */
 .email, .password, .password2, .username{
  font-weight: bold;
  font-size: 1.6rem;
}
/*
=============Страница производителей (общая)============ 
 */
 #manuf_main{
   display: flex;
   flex-direction: column;
   margin: 0 25% 0 25%;
 }
 .man-form-and-list, .edit-section-container{
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.man-form-and-list{
  margin-top: 10rem;
}
#search-manuf #find,.add-fields input{
  margin-top: 2px;
  width: 100px;
}

.add-manuf-form{
  margin-top:20px;
  margin-bottom: 3px;
}

.add-fields{
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: center;
}

#manuf_name_add{
  width: 200px;
}

.list-of-manuf{
  margin-top: 1rem;
}
.manuf-list-point,.flashes{
  font-size: 1.6rem;
  font-weight:500;
}

/*
=============Страница изменения производителя============ 
 */
.form-manuf-edit{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

#to-search{
  margin-top: 50px;
  position: relative;
  width: 40%;
  align-self: center;
}
.form-manuf-edit label, #conf-check-cont{
  margin: 5px 0 5px 0;
}
#manuf_legal_form{
  width: 25%;
}






