<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TinyApp</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/base.css')}}" >
    <link rel="shortcut icon" href={{url_for('static', filename='favicon.ico')}} type="image/x-icon">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{url_for('static',filename='./images/logo.svg')}}" alt="Dummy">
        </div>
        {%block header%}
       
        <div class="home_logout">
            <div class="home">
                <a href="/home"><img src="{{url_for('static',filename='./images/home.svg')}}" alt="Домой"></a>
            </div>
            {%if session.get('user')%}
            <div class="logout">
                <a href="/logout"><img src="{{url_for('static',filename='./images/logout.svg')}}" alt="Выйти"></a>
            </div>    
            {%endif%}
        </div>
        {%if session.get('role')=='ADMIN' and url_for(request.endpoint) !='/manufacturers'%}
        <a class="footer" href="/manufacturers">Производители</a>
        {%endif%}
 

        {%endblock%}
    </header>
    {% block body %}

    {% endblock %}
</body>
</html>
