<!DOCTYPE html>
<html lang="en">
{%block head%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TinyApp</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/base.css')}}" >
    <link rel="shortcut icon" href={{url_for('static', filename='favicon.ico')}} type="image/x-icon">
</head>
{%endblock%}
<body>
    <header>
        <div class="logo">
            <span>Dummy</span>
        </div>
        {%block header%}
        <div class="header-center">
            <div class="header-cart">
                <a class="cart link" href="/cart">Корзина </a>
                <p>(</p><span class="cart-size">{{session['cart-size']}}</span><p>)</p>
            </div>
        </div>
        {%if current_user.is_authenticated and session.get('role')=='ADMIN' 
        and url_for(request.endpoint) !='/adminpage'%}
        <div class="header-admin">
            <div class="admin-page">
                <a href="/admin" class="admin-page link">Админка</a>
            </div>
        </div>
        {%endif%}
        <div class="home_logout">
            <div class="home">
                <a class="home link" href="/home">На главную</a>
            </div>
            {%if not current_user.is_authenticated%}
            <div class="register">
                <a class="register link" href="/register">Зарегистрироваться</a>
            </div> 
            <div class="login">
                <a class="login link" href="/login">Войти</a>
            </div> 
            {%endif%}
            {%if current_user.is_authenticated%}
            <div class="logout">
                <a class="logout link" href="/logout">Выйти</a>
            </div>    
            {%endif%}
        </div>
        
        {%endblock%}
    </header>
    {%block scripts%}
        <script src="{{url_for('static',filename='./js/addtocart.js')}}"></script>
    {%endblock%}
    {% block body %}

    {% endblock %}
</body>
</html>
